<div class="container">

    <div class="row">
        <h2>Defensa del proyecto</h2>
        <h3>Introducci&oacute;n</h3>
        <p>Debido a que la se quiere hacer una SPA y que se quiere ampliar a futuro la aplicacion se debe usar un framework mvc moderno. He decidido utilizar angular por varias razones, por la flexibilidad, facilidad de desarrollo, etc. Pero en concreto la parte de producto - carrito se simplifica mucho con el databinding de angular. Ademas es muy facilmente testable, y aunque no se han introducido test de momento, a futuro nos ayudara a mantener la aplicaci&oacute;n con seguridad.</p>
        <p>En un principio pense en usar angular 2, que acaba de pasar de alpha a beta, pero no tengo aun la soltura que me gustar&iacute;a y como os comente en su momento, estos dias salgo a las tantas, sumado a las cenas de navidad, compras... en resumen solo tenia parte del fin de semana para hacerlo.</p>
        <p>Respecto al dise&ntilde;o he decidido usar bootstrap para el grid y estructura general. No he usado apenas elementos propios, he usado muchos componentes propios de bootstrap, para poder centrarme m&aacute;s en el responsive y la experiencia de usuario.</p>
        <p>Debido a que se van a querer realizar estudios sobre los habitos de compras de los clientes, la idea es utilizar google analytics, trazando eventos para cada una de las acciones. No he implementado esta soluci&oacute;n, pero es la que utilizar&iacute;a por el tipo de proyecto y teniendo en cuenta que es una SPA.</p>
        <p>Para la conexi&oacute;n a BBDD se propone el uso de una API REST en JSON. La idea ser&iacute;a realizarla con node, express y mongodb. Para est&eacute; ejemplo se ha realizado un "fake" de conexi&oacute;n con archivos .json. Si se tuvieran los servicios, solo con eliminar .json de la ruta de los servicios valdr&iacute;a.</p>
        <h3>Estructura general</h3>
        <p>Se ha optado por el uso de gulp para automatizar tareas. Se usa browserify para importar modulos, sass como compilador css, connect para levantar un server de desarrollo y watch para que se ejecuten las tareas automaticamente.</p>
        <p>En la carpeta app se encuentra la app, el router, los controladores y servicios que se importan con browserify.</p>
        <p>En la carpeta sass se encuentra un fichero scss que se compila en main.css dentro de public</p>
        <p>El resto de fichero estan directamente en la carpeta public</p>

        <h3>Historia 1: el usuario quiere ver los productos disponibles agrupados por categor&iacute;as</h3>
    </div>

</div>
